.box {
  border: 10px solid black;
  color: black;
  width: 500px;
}

.imgContainer {
  padding: 0 20px;
}
.imgContainer .item-img {
  width: 100%;
  height: 500px;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  gap: 8px;
}
.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
  width: 100%;
}

button {
  border: none;
  cursor: pointer;
}

.rock {
  width: 55px;
  height: 55px;
  background-color: #fff;
  background-size: cover;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1qf0Cx2RF1t8E2CvBv3rlLokMAPerExNukiYjzW6gauslKFMhClVdlqXVo7tCBATt898&usqp=CAU");
}

.scissors {
  width: 48px;
  height: 48px;
  background-color: #fff;
  background-size: cover;
  background-image: url("https://blog.kakaocdn.net/dn/HfURw/btqXKvOTNWK/gWTwPXEg9QzSV0ilOuwuak/img.png");
}

.paper {
  width: 45px;
  height: 45px;
  background-color: #fff;
  background-size: cover;
  background-image: url("https://blog.kakaocdn.net/dn/bmjB2s/btqXHhp6kpG/TH14W4U612SxKo9uuR2sB0/img.png");
}

.win {
  border: 10px solid green;
  color: green;
}
.lose {
  border: 10px solid red;
  color: red;
}
.tie {
  border: 10px solid black;
  color: black;
}

h1 {
  text-align: center;
}
